.container {
  min-height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);

  .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  
  .title {
    font-size: 18px;
    font-weight: bold;
  }

  .textContainer {
    height: 280px;
    width: 500px;
    border: 1px solid #bbb;
  }

  .imageContainer {
    height: 280px;
    width: 500px;
    & > img {
      height: 100%;
      width: 100%;
    }
  }
}